@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

</head>

<body style="background-color:thistle;">
    <div class="text-center">

        <h3><b>YOGA FOR ALL</b></h3>
        <h4><i>Keep the peace of mind by traditional ways.Yoga helps to maintain the balance of mind and body!!!</i></h4>
        <h4><i>Trust us. we will ensure you a happy life through yoga.</i></h4>

        <p>Click <a class="navbar-link" asp-action="Introduction">here</a> to see more about us</p>

    </div>
</body>
</html>