@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

</head>

<body style="background-color:ThreeDFace;">

    <div class="panel-body">
        <h2>Yoga class begins this summer</h2>
        <table class="table table-sm table-striped table-bordered" style="background-color: lightskyblue;">
            <thead>
                <tr>
                    <th>Start Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Fee</th>
                    <th>Course Duration</th>
                    <th>Payment</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>10 th june 2020</td>
                    <td>Morning 5am to 11 am <br></br>Evening 6 pm to 8pm</td>
                    <td>Gilder Drive(Near Kennady Station)</td>
                    <td>15$ per hour</td>
                    <td>1 month to 1 year</td>
                    <td>Weekly<br></br>Monthly<br></br>Full payment</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="panel-body">
        <p>if you are interested <a class="navbar-link" asp-action="Registration">Resiger by Clicking here</a></p>
        <p>For further enquires please contact: 123-456-7890 or email: yogaworld@gmail.com</p>
    </div>

</body>
</html>